* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.body {
  margin: 0;
  font-family: 'Lobster', cursive;
  font-size: 16px;
  background-color: lightblue; 
}
.nav-login {
  width: 100%;
  margin:10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}
.logo-image {
  height: 150px;
}
.header header h1{
  width: 100%;
  display: flex; 
  color: rgba(148, 54, 54, 0.815);
  font-size: 160px;
  text-align: center;
  justify-content: space-around; 
  font-family: 'Lobster', cursive;
  margin-right: 180px;
  margin-top: 15px;
  padding-top: 50px; 
}



.header header img {
  margin-top: 40px;
  margin-left: 50px;
  height: 250px; 
  margin-bottom: 50px;
  padding-top: 55px; 
}

header {
  margin-top: 0px;
  display: flex; 
  align-content: center;
  text-align: center;
  background-image: linear-gradient(to right, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
}

div p{
  text-align: center;
  font-size: 30px;
  font-family: 'Lobster', cursive;

}

#nav-bar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(to right, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
  top: 0;
  
}

.heart {
  color: red;
}

#nav-bar a{
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 30px;
  
}

#nav-bar a:hover{
  color: rgb(194, 25, 25);
}

.shuffler {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  align-content: center;
  text-align: center;
  padding : 30px;
  height: auto;
  
}




form {
  padding : 10px;
  margin: 10px;
}

.login-form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.register-form {
  text-align: center;
  display: block; 
  padding: 10px;
  margin :10px;
  /* font-size: x-large; */
}



.reg{
  display: flex; 
  width: 200px; 
  margin: 0 auto;
  flex-direction: column;
}


.button{
  align-content: center;
  text-align: center;
}

/* Combo Board */
.heart {
  font-size:1.5em;
  color:red;
}
.combo-board {
  padding:20px;
  background-color: lightblue; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.combo-button {
  color: black;
  border:none;
  padding: 10px;
  margin: 10px;
  font-family: 'Lobster', cursive;
  font-size: 25px; 
  background-color: white;
  border-radius: 10%;
  transition: 0.3s all ease-in-out;
}
.combo-button:hover {
  background-color: rgb(44, 43, 43);
  color:white;
  font-weight: bold;
  
  
}
.details:hover {
  background-color: rgba(50, 190, 167, 0.753);
  color:white;
}
.like:hover {
  background-color: rgba(190, 50, 50, 0.753);
  color:white;
}


.picture {
  height: 390px !important;
}
.card1 {
  /* width: 98vw; */
  border:1 px black;
 
}

.container{
  width: 100%;
  
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center; 
  
}
.image {
  width: fit-content;
}
.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
 
}
.shuffler {
  background-color: lightblue;

}

.shuffler h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

.shuffler h2 {
  font-family: 'Lobster', cursive;
}

.combo-card {
  text-align: center;
  
 

}


.combo-card button {
  align-content: center;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px; 
  width: 10%;  
  justify-content: space-around;
  margin-bottom: 45px; 
  background-color: white;
}

.allCombos {
  background-color: lightblue; 
  padding: 20px;
  
}


.combo-board {
  text-align: center;
  padding: 40px;
}


.combo-board button{
  font-family: 'Lobster', cursive;
  font-size: 20px; 
}

.comboHeaders {
  background-color: lightblue; 
  padding: 10px;
}
.comboHeaders h4{
  
  text-align: center;
  font-size: 55px; 
  font-family: 'Lobster', cursive;
  background-color: lightblue; 
}

/* Log In Form */
.login-page{
  background-image: linear-gradient(to right, white, hsla(190, 48%, 80%, 0.687), white);
  box-shadow: 34px 13px 36px 5px rgba(55,56,56,1);
  
  text-align: center;
  padding: 20px;
  width: 60vw;
  height: 60vh;
  border-radius: 10%;
 
}

label {
  font-family: 'Lobster', cursive;
  font-size: 26px;
}

#password {
  margin-bottom:10px
}




.login-form h3{
  font-size: 35px;
}

.login-form input, .register-form input{
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.login-page .button, .register-page .button {
  font-family: 'Lobster', cursive;
  font-size: 22px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
/* Register Form */
.register-page {
  text-align: center;
  padding: 20px;
  width: 60vw;
  height: 72vh;
  background-image: linear-gradient(to right, white, hsla(190, 48%, 80%, 0.687), white);
  box-shadow: 34px 13px 36px 5px rgba(55,56,56,1);
  border-radius: 10%;
}



.registerpage .button {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  margin-top: 10px;
}

.shuffler button {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  background-color: rgb(194, 25, 25);
  color: white;
  padding: 15px;
  margin-bottom: 25px; 
  border-radius: 50px 50px 50px 50px;
  box-shadow: 10px 10px 5px grey;
}

.btn-primary {
  color: black;
  border:none;
  font-family: 'Lobster', cursive;
  font-size: 25px; 
  background-color: white;
  border-radius: 10%;

}
.btn-primary:hover {
  background-color: rgb(96, 189, 223);
  border:none;
  transition: .3s all ease-in-out;
}

.btn-secondary {
  color: black;
  border:none;
  font-family: 'Lobster', cursive;
  font-size: 25px; 
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10%;
}

.btn-secondary:hover {
  background-color: rgb(168, 139, 172);
  border:none;
  transition: .3s all ease-in-out;
}



#container > div
{
    display: inline-block;
    border: solid 1px #000;
     overflow: scroll;
    height: 500px; 
}

#container
{
    border: solid 1px #ff0000;
    text-align: center;
    margin: 0px auto;
    width: 60%;
    display: flex;

   
}

.combo-board button[name=all]{
  margin-top: 20px;
  font-size: 35px;
}


.card-text {
  font-family: 'Yanon-e Kaffeesatz', sans-serif;
  font-size: 16px;
}
.card-body {
  padding: 10px;
}
.card {
  width: 60vw;
}

.footer-section{
  text-align: center;
  padding: 20px;
  /* margin-top: 30px; */
  font-size: 26px;
  background-image: linear-gradient(to left, white, white,rgb(200, 233, 245), rgb(200, 233, 245));
  bottom: 0;
  
}
.bold {
  font-size: 26px;
  font-weight: bold;
}

.logo {
  height: 60px;
}
.title {
  font-size: 36px;
  font-weight: bold;
}
.subtitle {
  font-size: 26px;

}
@media only screen 
  and (max-width: 480px) {
    .header header h1{
      font-size: 75px;
      text-align: left;
      margin: 0;
      padding: 0 0 20px 0;
  }
  .header header img{
    margin: 0;
    padding: 0;
   
  }

  header {
    display: block;
    padding-top: 95px;
  }
  #nav-bar a, #nav-bar button {
    font-size: 18px;
  }
  #nav-bar button {
    margin-bottom: 10px;
  }
  #make-combo-row p {
    font-size: 16px;
  }
  .combo-card button {
    width: 30%;  
  }

  .combo-board button[name=all]{
    background-color: white;
    font-size: 27px;
    margin-top: 10px;
  }

  .loginpage, .registerpage{
    width: 80%;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
  }

  .Loginform, .Registerform {
    text-align: center;
  }
  

  .footer-section{
    margin-top: 20px;
    
  }

  }
  

  
